<a href="https://colab.research.google.com/github/KhaledxOmar/KhaledxOmar/blob/main/spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=e71be391541a930582b35eacb48ddab8cb8e29c9efb3b23e991622c2b15e9add
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
from pyspark.sql import *

In [ ]:
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [ ]:
emp = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","10","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (5,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
  ]

In [ ]:
empColumns = ["emp_id","name","superior_emp_id","year_joined", \
       "emp_dept_id","gender","salary"]

In [ ]:
df1 = spark.createDataFrame(data=emp, schema = empColumns)

In [ ]:
type(df1)

pyspark.sql.dataframe.DataFrame

In [ ]:
df1.printSchema()

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [ ]:
df1.columns

['emp_id',
 'name',
 'superior_emp_id',
 'year_joined',
 'emp_dept_id',
 'gender',
 'salary']

In [ ]:
df1.show(3)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     3|Williams|              1|       2010|         10|     M|  1000|
+------+--------+---------------+-----------+-----------+------+------+
only showing top 3 rows

In [ ]:
df1.head(3)

[Row(emp_id=1, name='Smith', superior_emp_id=-1, year_joined='2018', emp_dept_id='10', gender='M', salary=3000),
 Row(emp_id=2, name='Rose', superior_emp_id=1, year_joined='2010', emp_dept_id='20', gender='M', salary=4000),
 Row(emp_id=3, name='Williams', superior_emp_id=1, year_joined='2010', emp_dept_id='10', gender='M', salary=1000)]

In [ ]:
df1.count()

6

In [ ]:
len(df1.columns)

7

In [ ]:
df1.describe('salary').show()

+-------+------------------+
|summary|            salary|
+-------+------------------+
|  count|                 6|
|   mean|1666.3333333333333|
| stddev|1633.4014407568848|
|    min|                -1|
|    max|              4000|
+-------+------------------+

In [ ]:
df1.select(df1.salary, df1.gender).show()

+------+------+
|salary|gender|
+------+------+
|  3000|     M|
|  4000|     M|
|  1000|     M|
|  2000|     F|
|    -1|      |
|    -1|      |
+------+------+

In [ ]:
df1.filter(df1.salary > 2000).show()

+------+-----+---------------+-----------+-----------+------+------+
|emp_id| name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+-----+---------------+-----------+-----------+------+------+
|     1|Smith|             -1|       2018|         10|     M|  3000|
|     2| Rose|              1|       2010|         20|     M|  4000|
+------+-----+---------------+-----------+-----------+------+------+

In [ ]:
df1.filter(df1.salary > 2000).count()

2

In [ ]:
df1.filter((df1.salary > 2000) & (df1.gender == 'M')).show()

+------+-----+---------------+-----------+-----------+------+------+
|emp_id| name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+-----+---------------+-----------+-----------+------+------+
|     1|Smith|             -1|       2018|         10|     M|  3000|
|     2| Rose|              1|       2010|         20|     M|  4000|
+------+-----+---------------+-----------+-----------+------+------+

In [ ]:
df1.groupBy(df1.salary).count().show()

+------+-----+
|salary|count|
+------+-----+
|  1000|    1|
|  4000|    1|
|  3000|    1|
|  2000|    1|
|    -1|    2|
+------+-----+

In [ ]:
df1.createOrReplaceTempView('Tab1')

In [ ]:
spark.sql('select * from Tab1').show()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     5|   Brown|              2|       2010|         40|      |    -1|
|     6|   Brown|              2|       2010|         50|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

In [ ]:
spark.sql('select max(salary) from Tab1').show()

+-----------+
|max(salary)|
+-----------+
|       4000|
+-----------+